body {
  background-color: #ebc9ff;       /* светло-фиолетовый фон */
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;         /* исправлено: дефис добавлен */
}
