body {
      background-color: #d3a0eb;
      margin-left: 20%;
      margin-right: 20%;
      border: 2px dotted black;
      padding: 10px;
      font-family: sans-serif;
    }

    blockquote.q {
      color: #D4AF37;
      border-left: 4px solid #8B0000;
      font-style: italic;
      margin: 10px 0;
      padding-left: 15px;
    }
