body {
  background-color: #d3a0eb;       /* светло-фиолетовый фон */
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px;
  font-family: sans-serif;         /* исправлено: дефис добавлен */
}
